img{
    object-fit: cover;
    border-radius: 30px;
}

.grid{
    display: grid;
    margin: 100px;
    grid-auto-rows: 336px;
    grid-auto-columns: 326px; 
    gap: 30px;
    
}
.grid-item:not(:nth-child(4)) img{
    width: 336px;
    height: 326px;

}
.grid-item:nth-child(4) img{
    width: 681px;
    height: 702px;
}

.grid-item:first-child{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-item:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2;
}
.grid-item:nth-child(3){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:2;
}
.grid-item:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:4;
}
 .grid-item:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:3;
}
.grid-item:last-child{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end:4;
} 
