.header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
p{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
} 
.sticky{
    width: 250px;
    height: 100px;
    background-color: blanchedalmond;
    position: sticky;
    top: 50px;
    left: 0;
    border-radius: 0 20px 20px 0;
}
.sticky p{
    font-size: 50px;
    font-family: font1;
    display: flex;
    padding-top: 20px;
    justify-content: center;
}
@font-face {
    font-family: font1;
    src: url(/fonts/font1/Pacifico-Regular.ttf);
}